Package: electro-standalone
Version: 1.0
Architecture: all
Essential: no
Priority: optional
Depends: 
Maintainer: Gustav Forsberg gufo0047 <jgaforsberg@gmail.com>
Description: Standaloneversion av electrotest paketerad till debian-paket enligt LinUM1 uppgift 9
